$body-font-family:   'source_sans_pro', sans-serif !important;
$header-font-family: 'source_sans_pro', sans-serif !important;
$base-font-size:      16px;

@font-face {
  font-family: "source_sans_pro";
  src: font-url("SourceSansPro-Black.ttf") format("truetype");
  src: font-url("SourceSansPro-BlackItalic.ttf") format("truetype");
  src: font-url("SourceSansPro-Bold.ttf") format("truetype");
  src: font-url("SourceSansPro-BoldItalic.ttf") format("truetype");
  src: font-url("SourceSansPro-ExtraLight.ttf") format("truetype");
  src: font-url("SourceSansPro-ExtraLightItalic.ttf") format("truetype");
  src: font-url("SourceSansPro-Italic.ttf") format("truetype");
  src: font-url("SourceSansPro-Light.ttf") format("truetype");
  src: font-url("SourceSansPro-LightItalic.ttf") format("truetype");
  src: font-url("SourceSansPro-Regular.ttf") format("truetype");
  src: font-url("SourceSansPro-SemiBold.ttf") format("truetype");
  src: font-url("SourceSansPro-SemiBoldItalic.ttf") format("truetype");
}
